  img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.project {
  margin-left:auto; 
  margin-right:auto;
  background-color: var(--mk-dark-gray-700);
  opacity:80%;
  position:relative;
  z-index: 3;
  margin-top: 50px;
  margin-bottom: 50px;
  overflow: hidden;
  border-radius:50px;
  border-collapse: collapse;
}
.boundingbox{
  width:1000px; 
  margin:auto;
}

.project:hover{
  opacity:100%;
}

.project_header{
  text-align:left;
  background-color: var(--mk-dark-gray-800);
  padding-left: 25px;
  color:white;
}
.th:hover{
  text-decoration: underline;
}

.summary {
  text-align: center;
  padding: 10px;
  font-size: 20px;
  max-width:600px;
}

.projectlink {
  text-decoration: none;
  color:white;
}

.video{
  height : auto;
  width:450px;
}
@media (max-aspect-ratio: 16/9){
   .video {
      height : auto;
   }
} 

