img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.intro{
  padding-top: 50px;
  position: relative;
  margin: auto;
  width:80%;
}
.paragraph {
  font-family: 'Montserrat', sans-serif;
  line-height: 220%; 
  font-size:120%;
  padding:30px; 
}

.aboutme{
  font-family: 'Montserrat', sans-serif;
  /* font-size: 300%; */
  padding:30px;
}
.summary{
  padding: 40px;
  font-size: 150%;
}
.bubble {
  position:relative;
  margin-top:100px;
  margin-left: auto;
  margin-right: auto;
  z-index: 3;
  text-align: center;
  /* border-spacing: 0; */
  width: 80%;
  border-collapse: separate;
  border-radius: 40px;
  padding: 40px;
  background-color:var(--mk-dark-gray-800);
  box-shadow: 0 40px 40px rgba(0,0,0,.25);
}
